.about {
  background-color: #0a2850;
  color: #fff;
  padding: 100px 80px;
  display: flex;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: space-between;
}

.about__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 251px;
  z-index: 2;
  margin: 0;
}

.about__content {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 660px;
  z-index: 1;
  margin: 19px 0px 13px;
}

.about__paragraph {
  margin: 0px 0px 20px 0px;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  position: absolute;
  top: -152px;
  left: -129px;
  border-radius: 50%;
  z-index: 1;
}
