.card {
  width: 540px;
}

.card__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
}

.card__content {
  display: flex;
  flex-direction: column;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
  padding: 0px;
}

.card__list-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 16px;
}

.card__list-divider {
  color: #838383;
  flex-grow: 1;
  border-bottom: 1px solid #838383;
}
