.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 60px 100px 60px 80px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 100px;
  width: 100%;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social {
  flex-direction: column;
  width: auto;
  min-width: 109px;
}

.footer__social-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 20px 0;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__list-item {
  color: #f2f2f2;
  margin-bottom: 16px;
}

.footer__social-link {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  text-decoration: none;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  height: 16px;
  width: 16px;
  display: flex;
  margin-right: 10px;
}

.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: flex-start;
  margin: 0;
}
