.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "inter", arial, sans-serif, "noto-serif", "times new roman",
    serif;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
}

.header {
  background-image: url(../images/background_header.svg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  z-index: 1;
}

.nav {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 105px;
  height: 39px;
  margin: 30px 0 0 30px;
}

.nav__links {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin: 30px 80px 0 0;
  padding: 0;
  font-weight: 100;
  justify-content: flex-end;
  align-content: flex-start;
  color: #000000;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: normal;
}

.nav__link:hover {
  color: #1f69c9;
}

.header__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -1px;
  max-width: 729px;
  margin: 0;
  padding-top: 183px;
  padding-bottom: 28px;
  padding-left: 80px;
}

.header__span-accent {
  color: #2f80ed;
  font-style: italic;
  font-family: "noto-serif";
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  display: block;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding-left: 80px;
}

.header__image {
  position: absolute;
  max-height: 568px;
  max-width: 646px;
  top: 124px;
  right: 5px;
  z-index: -1;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__time {
  padding-left: 80px;
  padding-bottom: 40px;
}

.header__adress {
  padding-right: 80px;
  padding-bottom: 40px;
}

.header__time,
.header__adress {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  box-sizing: border-box;
  padding: 100px 80px 215px;
  flex-direction: column;
}

.recipes__title {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  max-width: 580px;
  margin-bottom: 24px;
  margin-top: 0;
}

.recipes__subtitle {
  display: flex;
  color: #fff;
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 80px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__video-item {
  justify-content: center;
  margin: 80px 0 0;
}

.recipes__iframe {
  border: none;
}

.recipes__video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  color: #fff;
  justify-content: space-between;
}
