.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "inter", arial, sans-serif, "noto-serif", "times new roman",
    serif;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
}

.header {
  background-image: url(../images/background_header.svg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  z-index: 1;
}

.nav {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 105px;
  height: 39px;
  margin: 30px 0 0 30px;
}

.nav__links {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin: 30px 80px 0 0;
  padding: 0;
  font-weight: 100;
  justify-content: flex-end;
  align-content: flex-start;
  color: #000000;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: normal;
}

.nav__link:hover {
  color: #1f69c9;
}

.header__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -1px;
  max-width: 729px;
  margin: 0;
  padding-top: 183px;
  padding-bottom: 28px;
  padding-left: 80px;
}

.header__span-accent {
  color: #2f80ed;
  font-style: italic;
  font-family: "noto-serif";
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  display: block;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding-left: 80px;
}

.header__image {
  position: absolute;
  max-height: 568px;
  max-width: 646px;
  top: 124px;
  right: 5px;
  z-index: -1;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__time {
  padding-left: 80px;
  padding-bottom: 40px;
}

.header__adress {
  padding-right: 80px;
  padding-bottom: 40px;
}

.header__time,
.header__adress {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  box-sizing: border-box;
  padding: 100px 80px 215px;
  flex-direction: column;
}

.recipes__title {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  max-width: 580px;
  margin-bottom: 24px;
  margin-top: 0;
}

.recipes__subtitle {
  display: flex;
  color: #fff;
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 80px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__video-item {
  justify-content: center;
  margin: 80px 0 0;
}

.recipes__iframe {
  border: none;
}

.recipes__video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  color: #fff;
  justify-content: space-between;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.reservation__title {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  display: flex;
  align-items: center;
  max-width: 385px;
}

.form {
  display: flex;
  width: 385px;
  border: none;
}

.form__fieldset {
  border: none;
  padding: 0%;
  width: 100%;
  max-width: 385px;
}

.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-radius: 4px;
  height: 60px;
  width: 100%;
  color: #838383;
  border: none;
  margin: 8px 0 32px;
  padding: 0px 0px 0px 20px;
}

.form__item {
  box-sizing: border-box;
  width: 100%;
  border: none;
  height: 60px;
  margin-top: 8px;
  padding-left: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-radius: 4px;
}

.form__button {
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  height: 60px;
  background-color: #2f80ed;
  border: none;
  margin: 32px 0 32px;
  color: #fff;
  padding: 0;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
  margin-right: 12px;
  margin-top: 32px;
}

.form__label-align {
  display: flex;
  justify-content: center;
}

.form__label-text {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 32px;
}

.menu {
  padding: 100px 0 100px;
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-position: center;
  box-sizing: border-box;
}

.menu__title {
  display: flex;
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 800px;
  margin: 0 auto;
}

.menu__subtitle {
  display: flex;
  justify-content: center;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 800px;
  margin: 24px auto 0;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

.card {
  width: 540px;
}

.card__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
}

.card__content {
  display: flex;
  flex-direction: column;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
  padding: 0px;
}

.card__list-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 16px;
}

.card__list-divider {
  color: #838383;
  flex-grow: 1;
  border-bottom: 1px solid #838383;
}

.about {
  background-color: #0a2850;
  color: #fff;
  padding: 100px 80px;
  display: flex;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: space-between;
}

.about__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 251px;
  z-index: 2;
  margin: 0;
}

.about__content {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 660px;
  z-index: 1;
  margin: 19px 0px 13px;
}

.about__paragraph {
  margin: 0px 0px 20px 0px;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  position: absolute;
  top: -152px;
  left: -129px;
  border-radius: 50%;
  z-index: 1;
}

.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 60px 100px 60px 80px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 100px;
  width: 100%;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social {
  flex-direction: column;
  width: auto;
  min-width: 109px;
}

.footer__social-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 20px 0;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__list-item {
  color: #f2f2f2;
  margin-bottom: 16px;
}

.footer__social-link {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  text-decoration: none;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  height: 16px;
  width: 16px;
  display: flex;
  margin-right: 10px;
}

.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: flex-start;
  margin: 0;
}
